* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.itemHeader {
  grid-area: header;
}

.itemMain {
  grid-area: menu;
}

.itemRight {
  grid-area: right;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-template: 'header header header header header header' 'menu menu menu menu right right';
  gap: 20px;
  background-color: #fafafa;
  padding: 10px;
  font-size: 24px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.grid-container .itemHeader {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fafafa;
  background-color: white;
}

.grid-container .itemHeader .logo img {
  width: 120px;
  height: 40px;
}

.grid-container .itemHeader div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
}

.grid-container .itemHeader a {
  text-decoration: none;
  margin-left: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid-container .itemHeader .icons-side {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container .itemHeader .icons-side img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 10px;
}

.grid-container .itemHeader input {
  background-color: #E0E0E0;
  border: 5px solid #E0E0E0;
  height: 30px;
  width: 200px;
  border-radius: 10px;
}

.grid-container .mainSide .storyMain {
  margin-top: 10px;
  margin-right: 10px;
  width: 90%;
  position: relative;
  background-color: white;
}

.grid-container .mainSide .storyMain .stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #E0E0E0;
}

.grid-container .mainSide .storyMain .stories .story {
  margin-top: 10px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container .mainSide .storyMain .stories .story img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.grid-container .mainSide .storyMain .stories .kisi span {
  display: block;
}

.grid-container .mainSide .itemMain {
  margin-top: 10px;
  width: 90%;
  position: relative;
  background-color: white;
}

.grid-container .mainSide .itemMain .posts {
  margin-top: 50px;
  border: 1px solid #E0E0E0;
}

.grid-container .mainSide .itemMain .posts .info {
  margin-left: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container .mainSide .itemMain .posts .info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 10px;
}

.grid-container .mainSide .itemMain .posts .info span {
  font-size: 16px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.grid-container .mainSide .itemMain .posts .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.grid-container .mainSide .itemMain .posts .image img {
  width: 80%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.grid-container .mainSide .itemMain .posts .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.grid-container .mainSide .itemMain .posts .icons a {
  text-decoration: none;
}

.grid-container .mainSide .itemMain .posts .icons .leftSide {
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid-container .mainSide .itemMain .posts .icons .leftSide a {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 5px;
  text-decoration: none;
}

.grid-container .mainSide .itemMain .posts .icons .itemRight {
  width: 5%;
  margin-bottom: 10px;
}

.grid-container .mainSide .itemMain .posts .icons .itemRight a {
  margin-left: 90%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-decoration: none;
}

.grid-container .mainSide .itemMain .posts .count {
  margin-bottom: 10px;
  margin-left: 10px;
}

.grid-container .mainSide .itemMain .posts .count a strong {
  font-size: 16px;
}

.grid-container .mainSide .itemMain .posts .comments {
  margin-bottom: 20px;
  margin-left: 10px;
}

.grid-container .itemRight {
  width: 100%;
  margin-top: 10px;
  background-color: #fafafa;
}

.grid-container .itemRight .personCard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid-container .itemRight .personCard .personImg img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.grid-container .itemRight .personCard .personName {
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.grid-container .itemRight .personCard .personName p {
  font-size: 16px;
}

.grid-container .itemRight .personCard .personfollow a {
  font-size: 16px;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */